<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contentBackground</key>
	<string>#ffffff</string>
	<key>accent</key>
	<string>#5bbb7b</string>
	<key>navigationBarBackground</key>
	<string>#f7f7f7</string>
	<key>navigationBarTint</key>
	<string>#007aff</string>
</dict>
</plist>
