<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contentBackground</key>
	<string>#ffffff</string>
	<key>controlHighlighted</key>
	<string>#5bbb7b</string>
	<key>controlUnhighlighted</key>
	<string>#b0b0b0</string>
	<key>controlHighlightedTitle</key>
	<string>#ffffff</string>
	<key>navigationBarBackground</key>
	<string>#f7f7f7</string>
	<key>navigationBarTint</key>
	<string>#007aff</string>
	<key>navigationBarTitle</key>
	<string>#000000</string>
	<key>textPrimary</key>
	<string>#df0000</string>
	<key>textSecondary</key>
	<string>#8a0000</string>
	<key>topicBackground</key>
	<string>#ffffff</string>
	<key>separator</key>
	<string>#e0e0e0</string>
</dict>
</plist>
