<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contentBackground</key>
	<string>#606060</string>
	<key>controlUnhighlighted</key>
	<string>#b0b0b0</string>
	<key>controlHighlightedTitle</key>
	<string>#ffffff</string>
	<key>navigationBarBackground</key>
	<string>#212121</string>
	<key>navigationBarTint</key>
	<string>#ffffff</string>
	<key>navigationBarTitle</key>
	<string>#ffffff</string>
	<key>textPrimary</key>
	<string>#ffffffdf</string>
	<key>textSecondary</key>
	<string>#ffffffaa</string>
	<key>separator</key>
	<string>#eeeeee</string>
	<key>textPlaceholder</key>
	<string>#808080</string>
	<key>loadingIndicator</key>
	<string>#a0a0a0</string>
	<key>topicBackground</key>
	<string>#303030</string>
	<key>topicsFeedBackground</key>
	<string>#404040</string>
	<key>tableGroupHeaderBackground</key>
	<string>#404040</string>
	<key>topicSecondaryText</key>
	<string>#999999</string>
</dict>
</plist>
